name: CI/CD
on:
  push:
    branches:
      - main
      - beta
      - renovate/**
  pull_request: null
permissions:
  contents: write
  id-token: write
  issues: write
  pull-requests: write
jobs:
  lint-commit-messages:
    uses: vidavidorra/.github/.github/workflows/lint-commit-messages.yml@b0b683dfce1bfca9a89973eb2038658ed7ba4445 # v8.1.1
    with:
      configFile: ./commitlint.config.cjs
  lint:
    uses: vidavidorra/.github/.github/workflows/node-lint.yml@b0b683dfce1bfca9a89973eb2038658ed7ba4445 # v8.1.1
  build:
    uses: vidavidorra/.github/.github/workflows/node-build.yml@b0b683dfce1bfca9a89973eb2038658ed7ba4445 # v8.1.1
    strategy:
      fail-fast: false
      matrix:
        nodeVersion: [20, 22, 24]
    with:
      nodeVersion: ${{ matrix.nodeVersion }}
  test:
    uses: vidavidorra/.github/.github/workflows/node-test.yml@b0b683dfce1bfca9a89973eb2038658ed7ba4445 # v8.1.1
    strategy:
      fail-fast: false
      matrix:
        nodeVersion: [20, 22, 24]
    with:
      nodeVersion: ${{ matrix.nodeVersion }}
  code-coverage:
    uses: vidavidorra/.github/.github/workflows/node-test-coverage.yml@b0b683dfce1bfca9a89973eb2038658ed7ba4445 # v8.1.1
    needs:
      - lint
      - build
      - test
  release:
    uses: vidavidorra/.github/.github/workflows/release.yml@b0b683dfce1bfca9a89973eb2038658ed7ba4445 # v8.1.1
    needs:
      - lint-commit-messages
      - lint
      - build
      - test
      - code-coverage
    secrets:
      privateKey: ${{ secrets.RELEASE_PRIVATE_KEY }}
